body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  padding: 50px 30px 50px 80px;
  margin: 0px;

  height: 100%;
}

.img-responsive{
  width: 100%;
  height: auto;
}
.row {
  display: inline-block;
}
.card {
  float: left;
  width: 380px;
  padding: 10px;
  height: 100%;
  display: block;

  margin: 5px;
}
a.no-underline {
  text-decoration: none;
}

a.no-underline:hover {
  text-decoration: underline;
}

h2 {
  text-decoration: none;
}

.breadcrumb {
  list-style: none;
}
.breadcrumb li {
  display: inline;
  font-size: 20px;
}
.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.page {
  display: inline-block;
  width: 1200px;

}

.content{
  width: 760px;

  float: left;
  margin: 0 10px ;


}

.sidebar{
  width: 358px;
  background: green;
  float: left;
  margin:0 10px;

  border: 1px solid rgba(228, 228, 228, 0.218);
}

.box{
  background: white;
}

.article-details{
  padding: 10px;
  margin-bottom: 10px;
}

.comment{

  padding: 10px;
  margin-bottom: 10px;
}


.review{

  padding: 10px;
}
